<div mat-dialog-title>
  <p class="text-center">{{ titleModal }}</p>
</div>
<mat-dialog-content>
<form [formGroup]="brandForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field class="full-width" appearence="outline">
        <mat-label>Nombre de la marca</mat-label>
        <input matInput placeholder="Titulo" formControlName="brandName">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..." formControlName="brandDescription"></textarea>
      </mat-form-field>
    </div>

    <input type="checkbox" formControlName="brandStatus">
    Está habilitado

    <div class="action" mat-dialog-actions>
      <button mat-button type="button" mat-raised-button [mat-dialog-close]="false">Cancelar</button>
      <button mat-button mat-raised-button type="submit">Guardar</button>
    </div>
  </div>
</form>
</mat-dialog-content>
