<div mat-dialog-title>
  <p class="text-center">Sube un categoria</p>
</div>
<mat-dialog-content>
<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field class="full-width" appearence="outline">
        <mat-label>Nombre de la categoria</mat-label>
        <input matInput placeholder="Titulo" formControlName="categoryTitle">
      </mat-form-field>
    </div>

    <input id="isEnabled" type="checkbox" formControlName="categoryStatus">
    Está habilitado

    <div class="action" mat-dialog-actions>
      <button type="button" mat-raised-button [mat-dialog-close]="false">Cancelar</button>
      <button mat-button type="submit">Guardar</button>
    </div>
  </div>
</form>
</mat-dialog-content>
