<div mat-dialog-title>
  <h1>Sube un categoria</h1>
</div>
<mat-dialog-content>
<form >
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field class="full-width" appearence="outline">
        <mat-label>Nombre de la categoria</mat-label>
        <input matInput placeholder="Titulo">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="full-width" appearence="outline">
        <mat-label>Esta habilitado</mat-label>
        <input matInput placeholder="Titulo">
      </mat-form-field>
    </div>

  </div>
</form>
</mat-dialog-content>
