<div class="panel-header panel-header-sm"></div>
<div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Tabla de Categorías</h4>
          </div>
          <div class="card-body">
            <p-table [value]="categories" [paginator]="true" [rows]="5" [totalRecords]="totalRecords" [lazy]="true" (onLazyLoad)="loadCategories($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Título</th>
                        <th class="text-center">Descripción</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Acciones</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-category>
                    <tr>
                        <td>
                          <img [src]="category.categoryIco" [alt]="category.categoryIco" width="100" class="img-thumbnail shadow-sm" />
                          <div class="text-center">{{category.categoryCode}}</div>
                        </td>
                        <td>{{category.categoryTitle}}</td>
                        <td>{{category.categoryDescription}}</td>
                        <td class="text-center" >
                          <p-tag [value]="getText(category.CategoryStatus)" [severity]="getSeverity(category.CategoryStatus)"></p-tag>
                        </td>
                        <td>
                          <div class="d-flex justify-content-center flex-wrap gap-3">
                              <p-button icon="pi pi-pencil" severity="warning" [rounded]="true"/>
                              <p-button icon="pi pi-times" severity="danger" [rounded]="true"/>
                          </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        In total there are {{categories ? categories.length : 0 }} categories.
                    </div>
                </ng-template>
            </p-table>
          </div>
        </div>
    </div>
</div>